## Growth Review

In [102]:
fed_employees_2002 = 2766000
fed_employees_2012 = 2814000
annual_growth = (fed_employees_2012 / fed_employees_2002) ** (1/10) - 1
annual_growth

0.0017219534069912168

In [103]:
fed_employees_2002 = 2766
fed_employees_2012 = 2814
annual_growth = (fed_employees_2012 / fed_employees_2002) ** (1/10) - 1
annual_growth

0.0017219534069912168

In [104]:
fed_budget_2002 = 2.37 # Trillion
fed_budget_2012 = 3.38
(fed_budget_2012 / fed_budget_2002) ** (1/10) - 1

0.03613617208346853

In [127]:
x = 2.37

In [137]:
x = (1 + 0.03613617208346853) * x
x

3.38

In [138]:
us_gdp_2002 = 10.97
us_gdp_2012 = 16.16
(us_gdp_2012 / us_gdp_2002) ** (1/10) - 1

0.03949755672532551

In [145]:
years = 5730
0.5 ** (1/5730) - 1

-0.00012096077799361726

## Strings

In [152]:
"Hello"

'Hello'

In [153]:
'Hello'

'Hello'

In [154]:
'2.3'

'2.3'

In [155]:
'2.3' + 4

TypeError: Can't convert 'int' object to str implicitly

In [157]:
'2.3' * 4

'2.32.32.32.3'

In [158]:
float('2.3')

2.3

In [159]:
int('2.3')

ValueError: invalid literal for int() with base 10: '2.3'

In [162]:
int('23') + float('2.3')

25.3

In [1]:
x = 12
int(str(x) + '0')

120

## Arrays